<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <link rel="shortcut icon" href="../static/images/favicon.png">
  <script src="../static/js/jquery-1.9.1.min.js"></script>
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/global.css">

  <!-- inject:css -->
  <!-- <link rel="stylesheet" href="../templates/rep/index.css"> -->
  <!-- endinject -->
  <link rel="stylesheet" href="../static/js/swiper5/package/css/swiper.min.css">
</head>
<body>
  <!-- 头部 -->
  <div class="web-header">
    <div class="inner-header">
      <div class="logo"></div>
      <div class="columns">
        <ul>
          <li>
            <a href="javascript:;" class="header-link">首页</a>
          </li>
          <li>
            <a href="javascript:;" class="header-link">信息公开</a>
            <ul class="child-ul">
              <li class="child-li"><a href="javascript:;" class="header-link">捐赠信息</a></li>
              <li class="child-li"><a href="javascript:;" class="header-link">年度工作报告</a></li>
              <li class="child-li"><a href="javascript:;" class="header-link">审计报告</a></li>
              <li class="child-li"><a href="javascript:;" class="header-link">资质证明</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="header-link">公益项目</a>
          </li>
          <li>
            <a href="javascript:;" class="header-link">新闻中心</a>
          </li>
          <li>
            <a href="javascript:;" class="header-link">关于我们</a>
            <ul class="child-ul">
              <li class="child-li"><a href="javascript:;" class="header-link">创始人致辞</a></li>
              <li class="child-li"><a href="javascript:;" class="header-link">基金会介绍</a></li>
              <li class="child-li"><a href="javascript:;" class="header-link">基金会章程</a></li>
              <li class="child-li"><a href="javascript:;" class="header-link">理事会成员</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="user-section">
        <a href="javascript:;" class="a-btn a-btn-primary login">登录</a>
      </div>
    </div>
  </div>
  <!-- 中间部分 -->
  <div class="web-body page-index">
    <div class="page-banner index-banner"></div>
    <div class="block-summary">
      <div class="summary-actions">
        <ul>
          <li><a href="javascript:;" class="a-btn active">公益支出</a></li>
          <li><a href="javascript:;" class="a-btn">公益捐赠</a></li>
        </ul>
      </div>
      <div class="summary-box summary-pay">
        <div class="summary-item">
          <span class="top-left-corner"></span>
          <div class="box-item">
            <span class="title">历史支出总额（元）</span>
            <span class="underline"></span>
            <span class="money-num">121,594,968</span>
          </div>
        </div>
        <div class="summary-item">
          <span class="top-left-corner"></span>
          <div class="box-item">
            <span class="title">本年公益支出总额（元）</span>
            <span class="underline"></span>
            <span class="money-num">22,333,591</span>
          </div>
        </div>
        <div class="summary-item">
          <span class="top-left-corner"></span>
          <div class="box-item">
            <span class="title">8月公益支出总额（元）</span>
            <span class="underline"></span>
            <span class="money-num">4,226,000</span>
          </div>
        </div>
      </div>
      <div class="summary-box summary-donation">
        <div class="summary-item">
          <span class="top-left-corner"></span>
          <div class="box-item">
            <span class="title">历史捐赠总额（元）</span>
            <span class="underline"></span>
            <span class="money-num">121,594,968</span>
          </div>
        </div>
        <div class="summary-item">
          <span class="top-left-corner"></span>
          <div class="box-item">
            <span class="title">本年公益捐赠总额（元）</span>
            <span class="underline"></span>
            <span class="money-num">22,333,591</span>
          </div>
        </div>
        <div class="summary-item">
          <span class="top-left-corner"></span>
          <div class="box-item">
            <span class="title">8月公益捐赠总额（元）</span>
            <span class="underline"></span>
            <span class="money-num">4,226,000</span>
          </div>
        </div>
      </div>
    </div>
    <div class="block-scroll">
      <div class="swiper-container">
        <div class="swiper-wrapper scroll-txt">
          <div class="swiper-slide">
            <span class="donate-date">202008</span>
            <span class="donate-company">广州康迈通信科技有限公司</span>
            <span class="donate-num">捐赠 ¥11,125</span>                 
          </div>
          <div class="swiper-slide">
            <span class="donate-date">202008</span>
            <span class="donate-company">惠州万通药业有限公司</span>
            <span class="donate-num">捐赠 ¥21,123,123,123</span>
          </div>
          <div class="swiper-slide">
            <span class="donate-date">202008</span>
            <span class="donate-company">广州康迈通信科技有限公司</span>
            <span class="donate-num">捐赠 ¥11,125</span>
          </div>
          <div class="swiper-slide">
            <span class="donate-date">202008</span>
            <span class="donate-company">广州康迈通信科技有限公司</span>
            <span class="donate-num">捐赠 ¥11,125</span>                 
          </div>
          <div class="swiper-slide">
            <span class="donate-date">202008</span>
            <span class="donate-company">惠州万通药业有限公司</span>
            <span class="donate-num">捐赠 ¥21,123</span>
          </div>
          <div class="swiper-slide">
            <span class="donate-date">202008</span>
            <span class="donate-company">广州康迈通信科技有限公司</span>
            <span class="donate-num">捐赠 ¥11,125</span>
          </div>
          <div class="swiper-slide">
            <span class="donate-date">202008</span>
            <span class="donate-company">广州康迈通信科技有限公司</span>
            <span class="donate-num">捐赠 ¥11,125</span>                 
          </div>
          <div class="swiper-slide">
            <span class="donate-date">202008</span>
            <span class="donate-company">惠州万通药业有限公司</span>
            <span class="donate-num">捐赠 ¥21,123</span>
          </div>
          <div class="swiper-slide">
            <span class="donate-date">202008</span>
            <span class="donate-company">广州康迈通信科技有限公司</span>
            <span class="donate-num">捐赠 ¥11,125</span>
          </div>
        </div>
      </div>
    </div>
    <div class="block-form">
      <div class="div-form">
        <div class="form-phone">
          <input type="text" class="inp-phone">
        </div>
        <div class="div-valid">
          <input type="text" class="inp-msg">
          <a href="javascript:;" class="a-btn">获取验证码</a>
        </div>
        <div class="div-graph">
          <input type="text" class="inp-form-code">
          <img src="" alt="" class="img-code">
        </div>
      </div>
      <div class="div-submit">
        <a href="javascript:;" class="a-btn">捐赠查询</a>
      </div>
    </div>
    <div class="block-about">
      <div class="about-us">
        <div class="left-img"></div>
        <div class="right-orange"></div>
        <div class="content">
          <div class="left-gradient"></div>
          <div class="right-con">
            <h4>关于我们</h4>
            <h5>About us</h5>
            <p>
              广州市信诚公益基金会在发展壮大的过程中一直致力于投身慈善事业，把慈善事业放在企业发展的重要位置。早在2007年5月，就斥资2000万元人民币成立温州市龙湾区慈善总会青山控股分会。同年10月，同样斥资2000万元人民币成立青田县青田工业园区青山控股慈善分会。以“关注民生，发展公益事业；奉献爱心...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 底部 -->
  <div class="web-footer">
    <div class="inner-footer">
      <div class="block-company">
        <h5>广州市信诚公益基金会</h5>
        <div class="div-item"><a href="javascript:;" class="a-link">关于我们</a></div>
        <div class="div-item"><a href="javascript:;" class="a-link">意见反馈</a></div>
        <div class="div-item"><a href="javascript:;" class="a-link">常见问题</a></div>
        <div class="div-item"><a href="javascript:;" class="a-link">服务协议</a></div>
      </div>
      <div class="block-contact">
        <h5>联系我们</h5>
        <div class="div-item"><a href="javascript:;" class="a-link">官方客服QQ：747585839</a></div>
        <div class="div-item"><a href="javascript:;" class="a-link">联系邮箱：kefu@jchl.com</a></div>
      </div>
      <div class="block-wechat">
        <h5>官方微信公众号</h5>
        <div class="div-img">
          <img src="../static/images/qrcode.png" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>
  

  <script src="../static/js/swiper5/package/js/swiper.min.js"></script>
  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>