<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <script src="../static/js/jquery-1.9.1.min.js"></script>
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/global.css">
</head>
<body>
  <!-- 头部 -->
  <div class="web-header">
    <div class="inner-header">
      <div class="logo"></div>
      <div class="columns">
        <ul>
          <li>
            <a href="javascript:;" class="header-link">首页</a>
          </li>
          <li>
            <a href="javascript:;" class="header-link">信息公开</a>
            <ul class="child-ul">
              <li class="child-li"><a href="javascript:;" class="header-link">捐赠信息</a></li>
              <li class="child-li"><a href="javascript:;" class="header-link">年度工作报告</a></li>
              <li class="child-li"><a href="javascript:;" class="header-link">审计报告</a></li>
              <li class="child-li"><a href="javascript:;" class="header-link">资质证明</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="header-link">公益项目</a>
          </li>
          <li>
            <a href="javascript:;" class="header-link">新闻中心</a>
          </li>
          <li>
            <a href="javascript:;" class="header-link">关于我们</a>
            <ul class="child-ul">
              <li class="child-li"><a href="javascript:;" class="header-link">创始人致辞</a></li>
              <li class="child-li"><a href="javascript:;" class="header-link">基金会介绍</a></li>
              <li class="child-li"><a href="javascript:;" class="header-link">基金会章程</a></li>
              <li class="child-li"><a href="javascript:;" class="header-link">理事会成员</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="user-section">
        <a href="javascript:;" class="a-btn a-btn-primary login">登录</a>
      </div>
    </div>
  </div>
  <!-- 中间部分 -->
  <div class="web-body page-info">
    <div class="page-banner news-banner"></div>
    <div class="div-crumb">
      首页  /  新闻中心  /  新闻动态  /  <span class="cur">新闻详情</span>
    </div>
    <div class="div-info w-1200">
      <h1 class="info-title">抗击新冠肺炎救援项目</h1>
      <span class="info-time">
        发布时间：2020-08-20
      </span>
      <div class="info">
        现场，上海市医务工会为了肯定上海小荧星在疫情期间为医务工作者作出的贡献，特意送来了感谢信。因为在上海医护援鄂期间，小荧星曾为援鄂医护子女开放免费学习的机会，在白衣战士们援鄂抗疫不能陪伴在孩子身边的时候，由小荧星守护他们成长，点亮孩子们的艺术灯火。值得一提的是，曾获得免费就读活动的援鄂医护工作者也带着他的孩子来到现场，之前他就曾为小荧星寄去感谢信，此次特地来到现场再次表达谢意。上海市医务工会与上海小荧星共同筹备的“致敬白衣天使 艺术牵手医术”计划也在现场正式启动。未来，医务工会会为小荧星学员定期举办健康知识小讲座，并将小荧星的少儿艺术教育的活动分享给医护人员；而小荧星则会为医护人员子女提供优质的艺术教育服务，定期举办亲子互动的艺术体验活动，邀请医护人员子女参与小荧星全年的大型赛事，为医护人员子女的德育教育献上一份力量。
      </div>
    </div>
  </div>
  <!-- 底部 -->
  <div class="web-footer">
    <div class="inner-footer">
      <div class="block-company">
        <h5>广州市信诚公益基金会</h5>
        <div class="div-item"><a href="javascript:;" class="a-link">关于我们</a></div>
        <div class="div-item"><a href="javascript:;" class="a-link">意见反馈</a></div>
        <div class="div-item"><a href="javascript:;" class="a-link">常见问题</a></div>
        <div class="div-item"><a href="javascript:;" class="a-link">服务协议</a></div>
      </div>
      <div class="block-contact">
        <h5>联系我们</h5>
        <div class="div-item"><a href="javascript:;" class="a-link">官方客服QQ：747585839</a></div>
        <div class="div-item"><a href="javascript:;" class="a-link">联系邮箱：kefu@jchl.com</a></div>
      </div>
      <div class="block-wechat">
        <h5>官方微信公众号</h5>
        <div class="div-img">
          <img src="../static/images/qrcode.png" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>
</body>
</html>